*{
    font-family: "Ubuntu", "sans-serif";
}


.Header > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px; 
    background-color: white; 
    overflow: auto;
}

.Header  .Logo{
    background-color: white; 
    border: 2px solid red;

}

.Header img {
    width: 40px; 
    height: auto;
    margin-right: 100px; 
}

.Header h1 {
    font-size: 1.5em;
    margin: 10;
}

