.Herosection > div > h5{
<<<<<<< HEAD
    color: #FFFFFF;
}

.Herosection > :nth-child(2){
    color: #D35757;
}

.Herosection > :nth-child(3){
    color: #0084FF;
=======
    color: yellow;
>>>>>>> 54ad9e89d242104a9825ec9d087254acc5d2cae1
}