/* Set the background color of the entire page and full height */
body, html {
    height: 100%;
    margin: 0;
    background-color: blue;
  }
  
 
  .page-content {
    position: relative;
    
  }
  