.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .safety-game-button {
    padding: 10px 20px;
    background-color: #4E5D94;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .safety-game-button:hover {
    background-color: #3b4a75;
  }
  